@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
}

.bg-heading {
  font-family: "Fredoka One", cursive;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.icon{
  margin-top: 0;
  width: 150px ;
}

.bg {
  background-color: black;
  bottom: 0;
  left: -50%;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  margin-bottom: 30px;
}

h3,
p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}
.accountDisplay{
  margin-bottom: 3;
}
.share {
  padding: 14px;
  margin-top: 10px;
  vertical-align: center;
  background: #f44336;
  width: 70px;
  height: 45px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
}

.share:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 572px) {
  p{
    padding: 10px 0;
    overflow-x: scroll;
  }
}